<html>
<head>

  <title>Simple Flask Word-Of-The-Day App</title>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
  <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layoutimprovements.css') }}">

</head>

<body>
  <div id="header">
    <div id="inner-header">
      <h2>Simple Flask Word-Of-The-Day App</h2>
    </div>
    <hr />
  </div>
  
  <div id="main">

    {% block content %}
    
    {% endblock %}
    
  </div> 
  </body>
</html>
